# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# others
*.pp
*.mk
*.map
*.xml

./build/*
./build/Release/*.xml
./build/Release/*.map
./build/CSL_USB_IsoHighSpeedExample_Out/Release/*.*
./c55xx_csl/build/*

